:root {
    --dark-cyan: #3c8067;
    --very-dark-cyan: #1a4031;
    --cream: #f2ebe3;
    --very-dark-blue: #1c232b;
    --dark-grayish-blue: #6c7289;
    --white: #ffffff;

    --font-size: 14px;
    --font-family-header: 'Fraunces', serif;
    --font-family-body: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-family-body);
}

.product-card {
    background-color: var(--white);
    display: flex;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.product-image img {
    display: block;
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.product-content {
    padding: 32px;
    width: 300px;
}

.product-category {
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
    font-size: 12px;
    margin-bottom: 20px;
}

.product-title {
    font-family: var(--font-family-header);
    font-size: 32px;
    color: var(--very-dark-blue);
    line-height: 1;
    margin-bottom: 20px;
}
.product-description {
    color: var(--dark-grayish-blue);
    font-size: var(--font-size);
    line-height: 1.6;
    margin-bottom: 25px;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.current-price {
    font-family: var(--font-family-header);
    color: var(--dark-cyan);
    font-size: 32px;
}

.old-price {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    font-size: 13px;
}

.add-to-cart {
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.add-to-cart:hover {
    background-color: var(--very-dark-cyan);
}

@media (max-width: 600px) {
    .product-card{
        flex-direction: column;
    }
    .product-image img, .product-content{
        width: 100%;
    }
}