:root {
    --dark-cyan: #3c8067;
    --very-dark-cyan: #1a4031;
    --cream: #f2ebe3;
    --very-dark-blue: #1c232b;
    --dark-grayish-blue: #6c7289;
    --white: #ffffff;

    --font-size: 0.875rem; 
    --font-family-header: 'Fraunces', serif;
    --font-family-body: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-family-body);
    padding: 1rem;
}

.product-card {
    background-color: var(--white);
    display: flex;
    max-width: 37.5rem; 
    border-radius: 0.625rem; 
    overflow: hidden;
}

.product-image img {
    display: block;
    inline-size: 18.75rem; 
    block-size: 100%; 
    object-fit: cover;
}

.product-content {
    display: flex;
    flex-direction: column;
    padding: clamp(1.5rem, 5vw, 2rem); 
    inline-size: 100%;
}

.product-category {
    letter-spacing: 0.3125rem; 
    color: var(--dark-grayish-blue);
    font-size: 0.75rem; 
    margin-block-end: 1.25rem; 
}

.product-title {
    font-family: var(--font-family-header);
    font-size: 2rem; 
    color: var(--very-dark-blue);
    line-height: 1;
    margin-block-end: 1.25rem;
}

.product-description {
    color: var(--dark-grayish-blue);
    font-size: var(--font-size);
    line-height: 1.6;
    margin-block-end: 1.5625rem;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-block-end: 1.5625rem;
}

.current-price {
    font-family: var(--font-family-header);
    color: var(--dark-cyan);
    font-size: 2rem;
}

.old-price {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    font-size: 0.8125rem;
}

.add-to-cart {
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    inline-size: 100%;
    padding: 0.9375rem;
    border-radius: 0.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: var(--very-dark-cyan);
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}

@media (max-width: 37.5em) {
    .product-card {
        flex-direction: column;
        max-width: 21.4375rem; 
    }
    
    .product-image img {
        inline-size: 100%;
        block-size: 15rem; 
    }
}